<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4eUGNKw-29L4VBs74x-eOiZ-Fc5ICdEE</string>
	<key>GCM_SENDER_ID</key>
	<string>25599306163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chuckler.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chuckler-622ff</string>
	<key>STORAGE_BUCKET</key>
	<string>chuckler-622ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25599306163:ios:47368a09c9e594f10843c6</string>
</dict>
</plist>